@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this in global.css or inside <style> in HeroSlider.astro */

@keyframes slide-in-left {
  from { transform: translateX(-50px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.animate-slide-left {
  animation: slide-in-left 0.9s ease forwards;
}
