/* ========== GLOBAL ========== */

* {
  margin: 0;
  padding: 0;
  ;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #F8FAFC;
  color: #0F172A;
  padding-top: 80px;
  /**        HEIGHT OF NAVBAR        */
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
}

.section {
  padding: 6rem 2rem;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

/* ========== NAVBAR ========== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 60px;
  background: rgb(15, 23, 42, 0.6);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #eee;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.3s ease;
}

.navbar.scrolled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(15, 23, 42, 0.9);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  padding: 16px 60px;

}

/*  RIGHT SECTION   */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #E2E8F0;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #2563EB
}

.lang-switcher a {
  color: #E2E8F0;
  transition: 0.3s;
}

.lang-switcher a:hover {
  color: #0077ff;
}


/* Burger hidden desktop*/
.burger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Mobile*/
@media (max-width: 768px) {

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 40px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 0.3s ease;
  }

  .nav-links.active {
    opacity: 1;
    transformY(0);
    pointer-events: auto;
    display: flex;
  }

  .burger {
    display: block;
  }
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* ========== HERO ========== */

.hero-grid {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 50px 50px;
  animation: gridMove 20s linear infinite;
}

@keyframes gridMove {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(50px);
  }
}

.hero {
  padding: 6rem 2rem;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #020617, #0F172A);
  color: wheat;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  mask-image:
    radial-gradient(circle at center, black 30% transparent 80%);
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 600px;
  height: 600px;
  background:
    radial-gradient(circle, #2563EB33, transparent 70%);
  filter: blur(100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 800px;
  margin: auto;
  z-index: 2;
}

.hero-title {
  font-size: 2.2rem;
  color: #cbd5e1;
  opacity: 0;
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  font-weight: bold;
  transform: translateY(40px);
  animation: fadeUp 1.2s ease forwards;
}

.hero-subtitle {
  font-size: 1.80rem;
  margin-bottom: 2rem;
  color: #cbd5e1;
  opacity: 0;
  transform: translateX(120px);
  animation: slideLeft 1.2s ease forwards;
  animation-delay: 0.6s;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.typing {
  color: #2563EB;
  font-weight: 700px;
}

/*   CLASS PARTICLES    */
.particles {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.particles span {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #3B82F6;
  border-radius: 50%;
  opacity: 0.7;
  animation: float 10s linear infinite;
}

.particles span:nth-child(1) {
  top: 20%;
  left: 10%;
  animation-duration: 12s;
}

.particles span:nth-child(2) {
  top: 40%;
  left: 80%;
  animation-duration: 9s;
}

.particles span:nth-child(3) {
  top: 70%;
  left: 30%;
  animation-duration: 14s;
}

.particles span:nth-child(4) {
  top: 60%;
  left: 60%;
  animation-duration: 11s;
}

.particles span:nth-child(5) {
  top: 30%;
  left: 50%;
  animation-duration: 10s;
}

@keyframes float {

  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(-120px);
    opacity: 0;
  }

}

.hero-cta {
  display: inline-block;
  padding: 1rem 2.5rem;
  background: #0ea5e9;
  color: wheat;
  font-weight: bold;
  border-radius: 0.75rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero-cta:hover {
  background: orange;
  color: white;
  transform: scale(1.05);
}

/* ========== SECTION SERVICES ========== */
.services {
  padding: 100px 20px;
  color: white;
  background: #020617;
}
.services-container {
  max-width:1100px;
  margin: auto;
  text-align: center;
}
.section-title {
  font-size: 2.5rem;
  margin-bottom: 60px;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 30px;
}
.service-card {
  background: #0F172A;
  padding: 30px;
  border-radius: 12px;
  transition: all .3s ease;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(37, 99, 255, 0.3);
}

/* ========== SECTION PROJECTS ========== */
.projects {
  padding: 100px 20px;
  color: white;
  background: #020617;
}
.projects-container {
  max-width:1100px;
  margin: auto;
  text-align: center;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 30px;
}
.project-card {
  background: #0F172A;
  padding: 30px;
  border-radius: 12px;
  transition: all .3s ease;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(59, 130, 246, 0.4);
}

/* ========== SECTION PRICINGS ========== */
.pricing{
  text-align:center;
  padding:80px 20px;
}

.pricing-container{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
  margin-top:40px;
}

.pricing-card{
  background:#111;
  color:white;
  padding:30px;
  border-radius:12px;
  width:280px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.pricing-card h4{
  font-size:32px;
  margin:15px 0;
}

.pricing-card ul{
  list-style:none;
  padding:0;
}

.pricing-card li{
  margin:10px 0;
}

.pricing-btn{
  display:inline-block;
  margin-top:20px;
  padding:10px 20px;
  background:orange;
  color:black;
  text-decoration:none;
  border-radius:6px;
}

.pricing-btn:hover{
  background:#ff8c00;
}

.featured{
  transform: scale(1.05);
  border:2px solid orange;
}
/* ========== CARDS ========== */
.card {
  background: #1e293b;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

/* ========== GRID ========== */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

/* ========== TESTIMONIALS ========== */
.testimonial {
  font-style: italic;
  color: #cbd5e1;
}

/* ========== CONTACT FORM ========== */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
}

button {
  padding: 1rem;
  border-radius: 0.75rem;
  border: none;
  font-weight: bold;
  background: #38bdf8;
  color: #0f172a;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #0ea5e9;
}

/* ========== FOOTER ========== */
.footer {
  padding: 2rem;
  text-align: center;
  background: linear-gradient(135deg, #FB923C, #F97316);
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.footer a:hover {
  background: #0f172a;
}

/* ========== WHATSAPP ========== */
.whatsapp-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: #25D366;
  color: white;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
}

/* ========== ANIMATION ========== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ========== RESPONSIVE DESIGN========== */
/* === Tablets === */
@media (min-width: 768px) {

  .hero h1 {
    font-size: 3.5rem;
  }

  .hero p {
    font-size: 1.4rem;
  }

  .section {
    padding: 6rem 4rem;
  }

  .navbar {
    padding: 1.5rem 4rem;
  }

}

/* === Desktop === */
@media (min-width: 1024px) {

  .hero {
    padding: 10rem 2rem;
  }

  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.5rem;
    max-width: 700px;
    margin: auto;
  }

  .grid {
    gap: 3rem;
  }

}

/* === Large Screen === */

@media (min-width: 1280px) {

  .section {
    max-width: 1300px;
  }

  .hero h1 {
    font-size: 4.5rem;
  }

}