---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.astro";
import FeatureSection from "../../components/FeatureSection.astro";
import ProjectSection from "../../components/ProjectSection.astro";
import PricingSection from "../../components/PricingSection.astro";
{/** import TestimonialSection from "../../components/TestimonialSection.astro"; */}
import ContactSection from "../../components/ContactSection.astro";
import WhatsAppButton from "../../components/WhatsAppButton.astro";
import Footer from "../../components/Footer.astro";
import en from "../../i18n/en.json";
---

<BaseLayout title="Memphis Dev | Web & AI Solutions - EN" lang="en">
<Hero lang="en" />
<FeatureSection lang="en" />
<ProjectSection lang="en" />
<PricingSection lang="en" />
<TestimonialSection lang="en" />
<ContactSection lang="en" />
<WhatsAppButton />
  <section style="padding:4rem 2rem; text-align:center;">
    <h3 style="margin:auto;">
      {en.heroTitle}
    </h>

    <div style="margin-top:2rem;">
      <a href="/fr/" style="color:#38bdf8;">Version française</a>
    </div>
  </section>
  <Footer lang="en" />
</BaseLayout>
