---
import BaseLayout from '../../layouts/BaseLayout.astro';
import WhatsAppButton from '../../components/WhatsAppButton.astro';
import Footer from '../../components/Footer.astro';
import en from '../../i18n/en.json';
import FadeHeroSlider from '../../components/FadeHeroSlider.astro';
const { lang = "en" } = Astro.props;

---

<BaseLayout title="Memphis Dev | Web & AI Solutions - EN" lang="en">
  <FadeHeroSlider lang="en" />
  <WhatsAppButton />
  <section style="padding:4rem 2rem; text-align:center;">
    <h3 style="margin:auto;">
      {en.heroTitle}
    </h>

    <div style="margin-top:2rem;">
      <a href="/fr/" style="color:#38bdf8;">Version française</a>
    </div>
  </section>
  <Footer lang="en" />
</BaseLayout>