---
const { lang = "en" } = Astro.props;
import en from "../i18n/en.json";
import fr from "../i18n/fr.json";
const t = lang === "en" ? en : fr;
---

<section class="hero">
<div class="hero-grid">
</div>
<div class="particles">
<span></span><span></span>
<span></span><span></span>
<span></span><span></span>
<span></span><span></span>
<span></span><span></span>
</div>
<div class="hero-content">
  <h1 class="hero-title"
  style="
      font-size:2.0rem; 
      line-height:1.0;  
  ">
    We build <span class="typing"></span>
  </h1>
  <h1 class="hero-title"
  style="
      font-size:1.6rem; 
      line-height:1.0;  
  ">
    {t.heroTitle}
  </h1>

  <p class="hero-subtitle">
    {lang === "en" ? "Web Development, data science and Intelligent Systems designed to help business grow faster." : "Développement Web, Science de données, et Systèmes Intelligents conçus pour booster votre business."}
  </p>
  <div class="hero-buttons">
  <a href={lang === "en" ? "/contact" : "/contact"} 
     class="hero-cta">
    {lang === "en" ? "Get in Touch" : "Contactez-nous"}
  </a>

  <style>
    @keyframes fadeInUp {
      to {
        opacity:1;
        transform:translateY(0);
      }
    }
  </style>
  </div></div>
</section>
<script>

const words = [
"AI solutions",
"digital experiences",
"web platforms",
"data driven products"
];

let i = 0;
const typing = document.querySelector(".typing");

function changeWord(){

typing.textContent = words[i];

i++;

if(i === words.length){
i = 0;
}

}

changeWord();

setInterval(changeWord,2000);

</script>


