---
const { lang = "en" } = Astro.props;

const links = [
  { href: lang === "en" ? "/en/" : "/fr/", label: lang === "en" ? "Home" : "Accueil" },
  { href: lang === "en" ? "/en/projects" : "/fr/projects", label: lang === "en" ? "Projects" : "Projets" },
  { href: lang === "en" ? "/en/pricings" : "/fr/pricings", label: lang === "en" ? "Pricings" : "Facturation" },
  { href: lang === "en" ? "/en/contact" : "/fr/contact", label: lang === "en" ? "Contact" : "Contact" },
];

const switchLangHref = lang === "en" ? "/fr/" : "/en/";
const switchLangLabel = lang === "en" ? "FR" : "EN";
---

<nav>Memphis Dev</div>

  <ul>
    {links.map(link => (
      <li><a href={link.href}>{link.label}</a></li>
    ))}
    <li>
      <a href={switchLangHref}>{switchLangLabel}</a>
    </li>
  </ul>
</nav>
