---
const { lang = "en" } = Astro.props;
const t = lang === "en" ? {
  title: "Our Projects"
} : {
  title: "Nos Projets"
};

const projects = [
  { name: "AI Credit Scoring", desc: lang === "en" ? "Machine learning model predicting loan risks" : "Modèle d'apprentissage automaique (ML) prédisant les risques de prêt." },
  { name: "Business website", desc: lang === "en" ? "Modern responsive websites for companies" : "Sites web modernes s'adaptant à tous types d'écrans (Téléphones, tablettes, ordinateurs.)" },
  { name: "BConnect Platform", desc: lang === "en" ? "Business Networking Platform for entrepreneurs" : "Plateforme de réseautage professionnel pour les entrepreneurs" },
  { name: "Data Dashboard", desc: lang === "en" ? "Interactive analytics dashboard for businesses" : "Tableau de bord analytique et interactif pour les entreprises." }
];
---

<section class="projects" id="projects">
<div class="projects-container">
  <h2 class="section-title>
    {t.title}
  </h2>
  <div class="projects-grid">
    {projects.map(project => (
      <div class="project-card">
        <h5>{project.name}</h5>
        <p style="font-size:18px;margin-top:10px;">{project.desc}</p>
      </div>
    ))}
  </div></div>
</section>
